body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #D51E36, #273494);
    padding: 10px 20px;
    color: white;
}

.navbar-left a, .navbar-right a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.navbar-left a:hover, .navbar-right a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form button {
    padding: 10px;
    margin-left: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #45a049;
}

.navbar-right .img-container {
    position: relative;
    display: inline-block;
}

.navbar-right .img-container .dropdown-menu {
    display: none;
    position: absolute;
    top: 40px; /* Adjusted to prevent overlap */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.navbar-right .img-container .dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.navbar-right .img-container .dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.breadcrumbs li::after {
    content: ">";
    margin-left: 0.5rem;
}

.breadcrumbs li:last-child::after {
    content: "";
}

.container {
    margin: 10px;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    font-size: 12px;
    padding: 8px;
    border: 1px solid #ddd; /* Added border for better readability */
}

table th {
    background-color: #f4f4f4;
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-details span {
    font-size: 12px;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.pagination a:hover {
    background-color: #0056b3;
    color: white;
}

button {
    padding: 6px;
    border-radius: 7px;
    color: white;
    border: none;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
}
